<a href="https://colab.research.google.com/github/pavankalyan22/Diabetes-prediction-Ml/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Supervised Machine Learing classifier to predict Diabetes**

**Name : B. Pavan Kalyan**

In [ ]:
# importing necessary libraries 
import pandas as pd
import sklearn
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [ ]:
pd.__version__

'1.1.5'

In [ ]:
sklearn.__version__

'0.22.2.post1'

In [ ]:
# loading the diabetes dataset 

dataset = pd.read_csv('/content/diabetes.csv') #load the dataset 
dataset.head()
#print(len(dataset))

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
#split the dataset
X=dataset.iloc[:,0:8]
y=dataset.iloc[:,8]
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=5,test_size=0.2)

In [ ]:
# training a Naive Bayes classifier 
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB().fit(X_train, y_train)

In [ ]:
gnb_predictions = gnb.predict(X_test)
gnb_predictions

array([0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1])

In [ ]:
# accuracy on X_test 
accuracy = gnb.score(X_test, y_test) 
print (accuracy )

0.7662337662337663

In [ ]:
# creating a confusion matrix 
cm = confusion_matrix(y_test, gnb_predictions)
cm

array([[84, 16],
       [20, 34]])

In [ ]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(gnb,X,y,cv=5)
#scores
print("%0.2f accuracy with standard deviation of %0.2f"%(scores.mean(),scores.std()))

0.75 accuracy with standard deviation of 0.02